@model List<Application.ViewModels.PokemonViewModel>
@{
    ViewData["Title"] = "Mantenimiento Pokemones";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Pokemon" asp-action="Create" class="btn btn-sm btn-outline-success">Crear Nuevo Pokemon</a>
        </div>
    </div>
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h2>No Hay Pokemones</h2>
        }
        else
        {
            @foreach (Application.ViewModels.PokemonViewModel item in Model)
            {

                <div class="col-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top PokeImg" src="@item.ImageUrl" />
                        <div class="card-body">
                            <h4>@item.Name</h4>

                            @{ foreach (Application.ViewModels.RegionViewModel region in item.regions.regiones)
                                {
                                    if (item.RegionId == region.Id)
                                    {
                                        <h5>Region: @region.Name </h5>
                                        break;
                                    }
                                }
                            }
                            @{ foreach (Application.ViewModels.TipoViewModel tipo in item.tipos.Tipos)
                                {
                                    if (item.TipoPriId == tipo.Id)
                                    {
                                        <h5>Tipo Principal: @tipo.Name </h5>
                                        break;
                                    }
                                }
                            }
                            @{ foreach (Application.ViewModels.TipoViewModel tipo in item.tipos.Tipos)
                                {
                                    if (item.TipoSecId == tipo.Id)
                                    {
                                        <h5>Tipo Secundario: @tipo.Name </h5>
                                        break;
                                    }
                                }
                            }

                            <div clas="d-flex justify-content-between aling-items-center">
                                <div class="btn-group">

                                    <a asp-controller="Pokemon" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-info">Editar</a>
                                    <a asp-controller="Pokemon" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>